
<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav first-navbar mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create">Добавить новость</a>
            </li>
        </ul>
        <form class="form-inline" style="display: contents">
            <input class="form-control1" name="q" type="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-success" style="margin-left: 5px;" type="submit">Поиск
            </button>
        </form>
    </div>
</nav>